body {
    background-color: rgb(228, 163, 163);
    color: whitesmoke;
}

.wrong {
    background-color: red;
}

#main-h1 {
    font-size: 3rem;
    font-family: cursive;
    margin: 0.5%;
    text-align: center;
}

.main-container {
    background-color: rgb(97, 59, 64);
    margin-top: 1%;
}

.first-row,
.second-row {
    display: flex;
    width: 50%;
    margin: 2% auto;
}

.little-boxes {
    margin: 2% auto;
    padding: 15%;
    border: 2px solid black;
    border-radius: 10%;
}
.yellow {  
    background-color: yellow;
}

.purple {  
    background-color: purple;
}

.blue {  
    background-color: blue;
}

.green {
    background-color: green;
}

.clicked {
    background-color: gray;
    box-shadow: 0px 0px 10px 5px honeydew;
    margin: 2% auto;
    padding: 15%;
    border: 1px solid black;
    border-radius: 10%;

}